*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #0d0d43;
}

.App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    font-family: lato,sans-serif;

}
.logo-Contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.logo{
    width: 100px;
    height: 100px;

}

.contenedor-contador{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}